{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block title %}Мой профиль{% endblock %}
{% block styles %}{% endblock %}
{% block content %}
    <div class="container d-flex flex-wrap my-5">
        <div class="left-content mb-5">
            <h5>Мой аккаунт</h5>
            <hr>
            <button type="button" class="panel-buttons panel-btn btn" autofocus >Панель управления</button>
            <button type="button" class="panel-buttons orders-btn btn " >Мои заказы</button>
            <button type="button" class="panel-buttons adress-btn btn " >Адреса</button>
            <button type="button" class="panel-buttons settings-btn btn " >Настройка</button>
            <a type="button" class="panel-buttons exit-btn btn" href="{% url 'accounts:logout' %}" >Выход</a>
        </div>

        <div class="panel-center right-content justify-content-around flex-wrap ">
            <div class="right-left-content w-50 d-flex flex-column align-items-center">
                <button class="buttons-right my-orders"><span>Мои заказы</span></button>
                <button class="buttons-right settings"><span>Настройки</span></button>
            </div>
            <div class="right-right-content w-50 d-flex flex-column align-items-center">
                <button class="buttons-right adresses"><span>Адреса</span></button>
                <button class="buttons-right exit"><span>Выход</span></button>
            </div>
        </div>
        <div class="panel-settings right-content justify-content-around flex-wrap container">
            <h5>Личные данные</h5>
            {#            <form id='private-form' action="">#}
            <form action="{% url 'accounts:user_update' user_object.pk %}" method="post" enctype="multipart/form-data">
                {% include "partial/form.html" %}
                {#                <div class="first-last-name">#}
                {#                    <input type="text" name="first_name" autofocus placeholder="{{ user.first_name }}">#}
                {#                    <input type="text" name="last_name"  placeholder="{{ user.last_name }}">#}
                {#                </div>#}
                {#                {% if user.profile.company_name %}#}
                {#                    <input type="text" name="company_name"  placeholder="{{ user.profile.company_name }}">#}
                {#                {% endif %}#}
                {#                <input type="text" name="city"  placeholder="Город">#}
                {#                <input type="text" name="adress"  placeholder="Адрес">#}
                {#                <input type="text" name="phone"  placeholder="{{ user.profile.mobile_phone }}">#}
                {#                <input type="text" name="mail"  placeholder="{{ user.email }}">#}
                <button type="submit" class="btn btn-success">Сохранить</button>
            </form>
        </div>
        <div class="panel-adresses right-content container">
            <h5>Мои адреса</h5>
            {% for address in user.address.all %}
            <div class="tr-adress my-4">
                <p> улица {{ address.street }} {{ address.building_number }}</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th class="none-top-border" scope="col">Страна:</th>
                        <th class="none-top-border" scope="col">Город:</th>
                        <th class="none-top-border" scope="col">Улица:</th>
                        <th class="none-top-border" scope="col">Дом:</th>
                        <th class="none-top-border" scope="col">Квартира:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Кыргызстан</td>
                        <td>{{ address.city|default:"Бишкек"}}</td>
                        <td>{{address.street}}</td>
                        <td>{{ address.building_number }}</td>
                        <td>{{ address.flat_number  }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {% endfor %}
        <a href="{% url 'webapp:delivery_address_add' %}" class="btn hiddenbutton"
           style="background-color: #83B734; color: white">
            + Добавить новый адрес доставки</a>
        </div>
        <div class="panel-history right-content container">
            <h5>Мои заказы</h5>
        {% for order in user.orders.all %}
            <div class="accordion" id="accordionOrder">
                <div class="card">
                    <div class="order-header" id="id-order-header">
                        <button class="btn btn-link order-collapse-btn" type="button" data-toggle="collapse" data-target="#orderInside" aria-expanded="true" aria-controls="orderInside">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td class="table-products-name table-for-vertical">
                                        заказ {{ order.pk }}
                                    </td>
                                    <td class="table-price table-for-vertical">
                                        от {{ order.created_at }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </button>
                    </div>
                    <div id="orderInside" class="collapse" aria-labelledby="id-order-header" data-parent="#accordionOrder">
                        <table class="table">
                            <tbody>
                            <tr>
                            {% for product_in_order in order.orderproduct_set.all %}
                                <td class="table-second-column">
                                {% if product.images %}
                                    <div class="photo-back-table">
                                        <img src="{{ product_in_order.product.images.first.image.url }}" style="max-width: 10rem" class="product-photo card-img-top" alt="...">
                                    </div>
                                    {% else %}
                                    {% load static %}
                                    <img src="{% static "images/no_photo.jpg" %}" style="max-width: 10rem" class="product-photo card-img-top" alt="...">
                                {% endif %}
                                </td>

                                <td class="table-products-name table-for-vertical">
                                    {{ product_in_order.product }}
                                </td>
                                <td class="table-price table-for-vertical">
                                    {{product_in_order.product.price}}
                                </td>
                                <td class="table-price table-for-vertical">
                                    Кол-во: {{ product_in_order.amount }}
                                </td>
                                {% with a=product_in_order.product.price b=product_in_order.amount %}
                                <td class="product-summ table-for-vertical">{{ a|mul:b }} </td>
                                {% endwith %}
                            </tr>
                            </tbody>
                                {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.settings-btn').click(function() {
                $('.panel-center')[0].style.display = 'none';
                $('.panel-adresses')[0].style.display = 'none';
                $('.panel-history')[0].style.display = 'none';
                $('.panel-settings')[0].style.display = 'block';
            });
            $('.settings').click(function() {
                $('.panel-center')[0].style.display = 'none';
                $('.panel-adresses')[0].style.display = 'none';
                $('.panel-history')[0].style.display = 'none';
                $('.panel-settings')[0].style.display = 'block';
            });
            $('.adress-btn').click(function() {
                $('.panel-center')[0].style.display = 'none';
                $('.panel-adresses')[0].style.display = 'block';
                $('.panel-history')[0].style.display = 'none';
                $('.panel-settings')[0].style.display = 'none';
            });
            $('.adresses').click(function() {
                $('.panel-center')[0].style.display = 'none';
                $('.panel-adresses')[0].style.display = 'block';
                $('.panel-history')[0].style.display = 'none';
                $('.panel-settings')[0].style.display = 'none';
            });
            $('.panel-btn').click(function() {
                $('.panel-center')[0].style.display = 'flex';
                $('.panel-adresses')[0].style.display = 'none';
                $('.panel-history')[0].style.display = 'none';
                $('.panel-settings')[0].style.display = 'none';
            });
            $('.orders-btn').click(function() {
                $('.panel-center')[0].style.display = 'none';
                $('.panel-adresses')[0].style.display = 'none';
                $('.panel-history')[0].style.display = 'block';
                $('.panel-settings')[0].style.display = 'none';
            });
            $('.my-orders').click(function() {
                $('.panel-center')[0].style.display = 'none';
                $('.panel-adresses')[0].style.display = 'none';
                $('.panel-history')[0].style.display = 'block';
                $('.panel-settings')[0].style.display = 'none';
            });
            $('.panel-btn').click();
        });
    </script>
{% endblock %}