{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}MySite{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/star.css" %}">
    {% block styles %}{% endblock %}
</head>
<body>
<div class="empty-collapse"><i class="fas fa-times"></i></div>
<header>
    <div class="top-header">
        <div class="container h-100">
            <nav class="nav d-flex flex-nowrap align-items-center h-100">
                <p class="promo nav-link m-0 d-none d-md-block pl-0" >Подпишись на наши соц сети и получи 10% скидку</p>
                <div class="nav-link mr-auto mr-md-0 ml-auto d-flex h-100 align-items-center pr-4">
                    <a class='social-icons icon_fb' href="#"></a>
                    <a class='social-icons icon_insta' href="#"></a>
                    <a class='social-icons icon_telegram' href="#"></a>
                </div>
                <div class="nav-phone nav-link align-items-center h-100 pl-5 pr-4 text-nowrap d-none d-md-flex">
                    0559 011 356
                </div>
                <a class="promo contacts nav-link align-items-center h-100 px-4 text-uppercase d-none d-md-flex" href="#">Контакты</a>
            </nav>
        </div>
    </div>
    <div class="middle-header container">
        <nav class="nav d-flex flex-nowrap align-items-center h-100 navbar-light">
            <button class="burger-button navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="nav-link logo mx-auto ml-md-4 mr-md-0" href="{% url 'webapp:index' %}"></a>
{% include 'partial/simple_search.html' %}
{#            <form class="form-inline d-none d-md-flex align-items-center" method="get" action="#">#}
{#                <input class="search form-control rounded-left" type="search" placeholder="Поиск" aria-label="Search">#}
{##}
{#                <p class="m-0"><select>#}
{#                    <option selected>Категория</option>#}
{#                    {% for category in categories %}#}
{#                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>#}
{#                    {% endfor %}#}
{#                </select></p>#}
{#                <button class="search-button btn my-2 my-sm-0 rounded-right" type="submit"><i class="fas fa-search"></i></button>#}
{#            </form>#}
            <div class="nav-link text-uppercase ml-md-auto d-flex align-items-center justify-content-between">
                {% block menu %}{% endblock %}
                {% if perms.webapp.product_add %}
                    <div class="dropdown">
                        <button class=" login m-0 btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                style="border: none; white-space: pre-line; background-color: white; width: min-content;">
                            Функции Администратора
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'webapp:products_all' %}">Список товаров</a>
                            <a class="dropdown-item" href="{% url 'accounts:user_list' %}">Список пользователей</a>
                            <a class="dropdown-item" href="{% url 'accounts:register_staff' %}">Добавить персонал</a>
                            <a class="dropdown-item" href="{% url 'webapp:product_create' %}">Добавить товар</a>
                            <a class="dropdown-item" href="{% url 'webapp:categories_list' %}">Категории</a>
                            <a class="dropdown-item" href="{% url 'webapp:brands_list' %}">Бренды</a>
                            <a class="dropdown-item" href="{% url 'webapp:news' %}">Новости</a>
                            <a class="dropdown-item" href="{% url 'webapp:carousel_list' %}">Карусель</a>
                            <a class="dropdown-item" href="{% url 'webapp:orders' %}">Заказы</a>
                            <a class="dropdown-item" href="{% url 'webapp:delivery_cost' %}">Стоимость доставки</a>
                        </div>
                    </div>
                {% endif %}

                {% if request.user.is_authenticated %}
                    <a class="login  d-none d-md-flex" href="{% url 'accounts:user_detail' request.user.pk %}">{{ request.user }}!</a>
                    <a class="login  d-none d-md-flex" href="{% url 'accounts:logout' %}">Выйти</a>
                {% else %}
                    <a class="login  d-none d-md-flex" href="{% url 'accounts:login' %}">Войти</a>
                    <a class="login  d-none d-md-flex" href="{% url 'accounts:register' %}">Зарегистрироваться</a>
                {% endif %}
                <button class=" {% if request.user.favorites.all %}red3{% else %}favorites btn{% endif %}" href="{% url 'webapp:favorite_products' %}">
                    <div class="circle-count d-flex align-items-center justify-content-center">
                        {{ request.user.favorites.all|length }}
                    </div>
                </button>
                <a class="compare d-none d-md-flex" href="#"><div class="circle-count d-flex align-items-center justify-content-center">1</div></a>
                <button class="cart btn">
                    <div class="circle-count d-flex align-items-center justify-content-center">
                        {{ cart_products|length }}
                    </div>
                </button>
            </div>
        </nav>
    </div>
    <div class="cart-modal">
        <h3>Корзина</h3>
        <div class="products-in-cart-modal">
            {% for item in cart_products %}
            <div class="product-in-cart-modal d-flex">
                <div class="photo-back">
                    {% if item.product.images %}
                        <img src="{{ item.product.images.first.image.url }}" class="product-photo card-img-top" alt="...">
                    {% else %}
                        <img src="{% static "images/no_photo.jpg" %}" class="product-photo card-img-top" alt="...">
                    {% endif %}
{#                    <img src="{% static 'images/chair.png' %}" class="card-img-top" alt="...">#}
                </div>
                <div class="cart-modal-center">
                    <p>{{ item.product.name }}</p>
                    <span class='qty'>{{ item.qty }}</span>
                    <span class="price ml-3">{{ item.product.price }}</span>
                </div>
                <div>
                    <a href="{% url 'webapp:cart_change' %}?pk={{ item.product.pk }}&action=delete&next={% url 'webapp:cart' %}">
                        <div class="delete-from-cart">
                        </div></a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="cart-modal-summ d-flex justify-content-between my-4">
            <span class="name">Итого:</span>
{#            {% for item in cart_products %}#}
            <span class="summ">{{ cart_total }}</span>
{#            {% endfor %}#}
        </div>
        <a href="{% url "webapp:cart" %}" class="btn cart-modal-to-cart">Корзина</a>
        <a class="btn cart-modal-check" href="">Проверить</a>
    </div>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-light px-2 pt-2 pb-3">
            <div class="burger-inside nav-link d-flex align-items-center justify-content-center">
                <a class='burger-icons burger-main-page ml-2' href="{% url 'webapp:index' %}"><p>Главная</p></a>
                <a class='burger-icons burger-favorites ml-3' href="#"><p>Избранное</p></a>
                <a class='burger-icons burger-profile ml-3' href="#"><p>Мой профиль</p></a>
                <a class='burger-icons burger-compare ml-3' href="#"><p>Сравнение цен</p></a>
            </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">
            <nav class="navbar navbar-expand navbar-light d-none d-md-flex p-0 ">
                <ul class="navbar-nav h-100 align-items-center h-100">
                    <li class=" dropdown h-100">
                        <a class="all-category nav-link dropdown-toggle d-inline-block h-100 d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <p>Все категории</p>
                        </a>
                        {#                        <li class="active"><a href="/blog/category/{{ category.slug }}?page={{ pag }}">{{ pag }}</a></li>#}
                        <div class="dropdown-menu mt-0 rounded-0" aria-labelledby="navbarDropdownMenuLink">
                            {% for category in categories %}
                                <div class="dropdown-item dropright">
                                    <a class="category nav-link d-flex align-items-center pl-0" href="{% url 'webapp:products_category' category.pk %}?category={{ category.pk }}" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <a href="{% url 'webapp:products_category' category.pk %}?category={{ category.pk }}" class="category nav-link dropdown-toggle d-flex align-items-center pl-0"><p>{{ category.category_name }}</p></a>
                                    </a>
                                    <div class="dropdown-menu m-0" aria-labelledby="navbarDropdownMenuLink2">
                                        {% for subcategory in category.subcategories.all %}
                                            {#                                        <a class="dropdown-item" href="#">1Another action</a>#}
                                            {#                                        <a class="dropdown-item" href="#">2Another action</a>#}
                                            <a class="dropdown-item" href="#">{{ subcategory.sub_name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                            {#                            <div class="dropdown-item dropright">#}
                            {#                                <a class="category nav-link dropdown-toggle d-flex align-items-center pl-0" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                            {#                                    <p>Канцтовары</p>#}
                            {#                                </a>#}
                            {#                                <div class="dropdown-menu m-0" aria-labelledby="navbarDropdownMenuLink2">#}
                            {#                                    <a class="dropdown-item" href="#">3Action</a>#}
                            {#                                    <a class="dropdown-item" href="#">4Another action</a>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                            <div class="dropdown-item dropright">#}
                            {#                                <a class="category nav-link dropdown-toggle d-flex align-items-center pl-0" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                            {#                                    <p>Хозяйственные товары</p>#}
                            {#                                </a>#}
                            {#                                <div class="dropdown-menu m-0" aria-labelledby="navbarDropdownMenuLink2">#}
                            {#                                    <a class="dropdown-item" href="#">5Action</a>#}
                            {#                                    <a class="dropdown-item" href="#">6Another action</a>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                            <div class="dropdown-item dropright">#}
                            {#                                <a class="category nav-link dropdown-toggle d-flex align-items-center pl-0" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                            {#                                    <p>Компьютеры и периферия</p>#}
                            {#                                </a>#}
                            {#                                <div class="dropdown-menu m-0" aria-labelledby="navbarDropdownMenuLink2">#}
                            {#                                    <a class="dropdown-item" href="#">7Action</a>#}
                            {#                                    <a class="dropdown-item" href="#">8Another action</a>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                            <div class="dropdown-item dropright">#}
                            {#                                <a class="category nav-link dropdown-toggle d-flex align-items-center pl-0" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                            {#                                    <p>Картриджи</p>#}
                            {#                                </a>#}
                            {#                                <div class="dropdown-menu m-0" aria-labelledby="navbarDropdownMenuLink2">#}
                            {#                                    <a class="dropdown-item" href="#">9Action</a>#}
                            {#                                    <a class="dropdown-item" href="#">10Another action</a>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                            <div class="dropdown-item dropright">#}
                            {#                                <a class="category nav-link dropdown-toggle d-flex align-items-center pl-0" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                            {#                                    <p>Товары для школы</p>#}
                            {#                                </a>#}
                            {#                                <div class="dropdown-menu m-0" aria-labelledby="navbarDropdownMenuLink2">#}
                            {#                                    <a class="dropdown-item" href="#">9Action</a>#}
                            {#                                    <a class="dropdown-item" href="#">10Another action</a>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                            <div class="dropdown-item dropright">#}
                            {#                                <a class="category nav-link dropdown-toggle d-flex align-items-center pl-0" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                            {#                                    <p>Офисная техника</p>#}
                            {#                                </a>#}
                            {#                                <div class="dropdown-menu m-0" aria-labelledby="navbarDropdownMenuLink2">#}
                            {#                                    <a class="dropdown-item" href="#">9Action</a>#}
                            {#                                    <a class="dropdown-item" href="#">10Another action</a>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                            <div class="dropdown-item dropright">#}
                            {#                                <a class="category nav-link dropdown-toggle d-flex align-items-center pl-0" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                            {#                                    <p>Посуда и текстиль</p>#}
                            {#                                </a>#}
                            {#                                <div class="dropdown-menu m-0" aria-labelledby="navbarDropdownMenuLink2">#}
                            {#                                    <a class="dropdown-item" href="#">9Action</a>#}
                            {#                                    <a class="dropdown-item" href="#">10Another action</a>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                            <div class="dropdown-item dropright">#}
                            {#                                <a class="category nav-link dropdown-toggle d-flex align-items-center pl-0" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                            {#                                    <p>Товары для творчества</p>#}
                            {#                                </a>#}
                            {#                                <div class="dropdown-menu m-0" aria-labelledby="navbarDropdownMenuLink2">#}
                            {#                                    <a class="dropdown-item" href="#">9Action</a>#}
                            {#                                    <a class="dropdown-item" href="#">10Another action</a>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                            <div class="dropdown-item dropright">#}
                            {#                                <a class="category nav-link dropdown-toggle d-flex align-items-center pl-0" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                            {#                                    <p>Товары для торговли</p>#}
                            {#                                </a>#}
                            {#                                <div class="dropdown-menu m-0" aria-labelledby="navbarDropdownMenuLink2">#}
                            {#                                    <a class="dropdown-item" href="#">9Action</a>#}
                            {#                                    <a class="dropdown-item" href="#">10Another action</a>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                            <div class="dropdown-item dropright">#}
                            {#                                <a class="category nav-link dropdown-toggle d-flex align-items-center pl-0" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                            {#                                    <p>Уцененные товары</p>#}
                            {#                                </a>#}
                            {#                                <div class="dropdown-menu m-0" aria-labelledby="navbarDropdownMenuLink2">#}
                            {#                                    <a class="dropdown-item" href="#">9Action</a>#}
                            {#                                    <a class="dropdown-item" href="#">10Another action</a>#}
                            {#                                </div>#}
                            {#                            </div>#}
                        </div>
                    </li>
                    <li class="nav-item ml-0 ml-lg-4">
                        <a class="nav-link" href="{% url 'webapp:index' %}">Главная </a>
                    </li>
                    <li class="nav-item ml-0 ml-lg-4">
                        <a class="nav-link" href="#">Акции</a>
                    </li>
                    <li class="nav-item ml-0 ml-lg-4">
                        <a class="nav-link" href="#">Оплата</a>
                    </li>
                    <li class="nav-item ml-0 ml-lg-4">
                        <a class="nav-link" href="{% url 'webapp:delivery_view' %}">Доставка</a>
                    </li>
                    <li class="nav-item ml-0 ml-lg-4">
                        <a class="nav-link" href="{% url 'webapp:return_view' %}">Возврат</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

{% block content %}{% endblock %}

<footer>
    <div class="partners d-flex justify-content-center">
        <div class="partners-logo partners-logo-first my-4 mx-4"></div>
        <div class="partners-logo partners-logo-second my-4 mx-4"></div>
        <div class="partners-logo partners-logo-third my-4 mx-4"></div>
        <div class="partners-logo partners-logo-fourth my-4 mx-4"></div>
        <div class="partners-logo partners-logo-fifth my-4 mx-4"></div>
    </div>
    <div class="info-block row" id="accordionExample">
        <div class="col-10 col-md-3">
            <div class="info-card">
                <button class="info-btn" type="button" data-toggle="collapse" data-target="#infoOne" aria-expanded="true" aria-controls="infoOne">
                    <span>Заголовок_1</span>
                </button>
                <div id="infoOne" class="collapse card-body" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                </div>
            </div>
        </div>
        <div class="col-10 col-md-3">
            <div class="info-card">
                <button class="info-btn" type="button" data-toggle="collapse" data-target="#infoTwo" aria-expanded="true" aria-controls="infoOne">
                    <span>Заголовок_2</span>
                </button>
                <div id="infoTwo" class="collapse card-body" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                </div>
            </div>
        </div>
        <div class="col-10 col-md-3">
            <div class="info-card">
                <button class="info-btn" type="button" data-toggle="collapse" data-target="#infoThree" aria-expanded="true" aria-controls="infoOne">
                    <span>Заголовок_3</span>
                </button>
                <div id="infoThree" class="collapse card-body" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                </div>
            </div>
        </div>
        <div class="col-10 col-md-3">
            <div class="info-card">
                <button class="info-btn" type="button" data-toggle="collapse" data-target="#infoFour" aria-expanded="true" aria-controls="infoOne">
                    <span>Заголовок_4</span>
                </button>
                <div id="infoFour" class="collapse card-body" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                    <p>Lorem ipsum dolor.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="empty-footer"></div>
</footer>

<script type="application/javascript" src="{% static "js/jquery-3.5.1.js" %}"></script>
<script type="text/javascript" src='{% static "js/jquery-ui.min.js" %}'></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script type="application/javascript" src="{% static "js/bootstrap.js" %}"></script>
<script type="application/javascript" src="{% static "js/fontawsome.js" %}"></script>
<script type="text/javascript" src="{% static "js/slick.min.js" %}"></script>
<script type="application/javascript" src="{% static "js/base.js" %}"></script>
<script type="application/javascript" src="{% static "js/review.js" %}"></script>
<script type="application/javascript" src="{% static "js/favorite.js" %}"></script>

{% block scripts %}{% endblock %}
</body>
</html>