{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Корзина{% endblock %}
{% block styles %}{% endblock %}
{% block content %}
    <div class="container my-4 my-sm-5">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="table-products">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item active">Корзина</li>
                            <li class="breadcrumb-item">Проверка</li>
                            <li class="breadcrumb-item">Оплата</li>
                        </ol>
                    </nav>
                    <table class="table-base table table-hover mt-4 mt-sm-5">
                        <thead class="">
                        <tr class="table-header">
                            <th class="none-top-border" scope="col"></th>
                            <th class="none-top-border tovar" scope="col">Товар</th>
                            <th class="none-top-border"></th>
                            <th class="none-top-border" scope="col">Цена</th>
                            <th class="none-top-border" scope="col">Количество</th>
                            <th class="none-top-border" scope="col">Итого</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="table-first-column"><div class="delete-from-cart"></div></td>
                            <td class="table-second-column">
                                <div class="photo-back-table">
                                    <img src="{% static 'images/chair.png' %}" class="product-photo card-img-top" alt="...">
                                </div>
                            </td>

                            <td class="table-products-name table-for-vertical">
                                Принтер для печати
                                <div class="delete-from-cart d-inline-block d-sm-none"></div>
                            </td>
                            <td class="table-price table-for-vertical">
                                <p class="d-inline-block d-sm-none">Цена</p>
                                $200
                            </td>
                            <td class="table-quantity table-for-vertical">
                                <p class="d-inline-block d-sm-none">Количество</p>
                                <div class="input-number">
                                    <div class="input-number__minus">-</div>
                                    <input class="input-number__input" type="text" pattern="^[0-9]+$" value="2">
                                    <div class="input-number__plus">+</div>
                                </div>
                            </td>
                            <td class="product-summ table-for-vertical"><p class="d-inline-block d-sm-none">Итого</p>$400</td>
                        </tr>

                        <tr>
                            <td class="table-first-column"><div class="delete-from-cart"></div></td>
                            <td class="table-second-column">
                                <div class="photo-back-table">
                                    <img src="{% static 'images/chair.png' %}" class="product-photo card-img-top" alt="...">
                                </div>
                            </td>

                            <td class="table-products-name table-for-vertical">
                                Принтер для печати
                                <div class="delete-from-cart d-inline-block d-sm-none"></div>
                            </td>
                            <td class="table-price table-for-vertical">
                                <p class="d-inline-block d-sm-none">Цена</p>
                                $200
                            </td>
                            <td class="table-quantity table-for-vertical">
                                <p class="d-inline-block d-sm-none">Количество</p>
                                <div class="input-number">
                                    <div class="input-number__minus">-</div>
                                    <input class="input-number__input" type="text" pattern="^[0-9]+$" value="2">
                                    <div class="input-number__plus">+</div>
                                </div>
                            </td>
                            <td class="product-summ table-for-vertical"><p class="d-inline-block d-sm-none">Итого</p>$400</td>
                        </tr>
                        <tr>
                            <td class="table-first-column"><div class="delete-from-cart"></div></td>
                            <td class="table-second-column">
                                <div class="photo-back-table">
                                    <img src="{% static 'images/chair.png' %}" class="product-photo card-img-top" alt="...">
                                </div>
                            </td>

                            <td class="table-products-name table-for-vertical">
                                Принтер для печати
                                <div class="delete-from-cart d-inline-block d-sm-none"></div>
                            </td>
                            <td class="table-price table-for-vertical">
                                <p class="d-inline-block d-sm-none">Цена</p>
                                $200
                            </td>
                            <td class="table-quantity table-for-vertical">
                                <p class="d-inline-block d-sm-none">Количество</p>
                                <div class="input-number">
                                    <div class="input-number__minus">-</div>
                                    <input class="input-number__input" type="text" pattern="^[0-9]+$" value="2">
                                    <div class="input-number__plus">+</div>
                                </div>
                            </td>
                            <td class="product-summ table-for-vertical"><p class="d-inline-block d-sm-none">Итого</p>$400</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="cart-summ">
                    <h3 class="cart-summ-header">Общая корзина</h3>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th class="none-top-border cart-summ-itog-header" scope="row">Итог</th>
                            <td class="none-top-border cart-summ-itog">$900</td>
                        </tr>
                        <tr>
                            <th class="cart-summ-itog-header" scope="row">Доставка</th>
                            <td class="cart-summ-delivery">$10</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th class="cart-summ-itogo-header" scope="row">Итого</th>
                            <td class="cart-summ-itogo" >$910</td>
                        </tr>
                        </tfoot>
                    </table>
                    <button type="button" class="to-cart btn btn-success mt-0 ml-4 w-75">Пройти проверку</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}{% endblock %}