{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container my-5">
        <h5>{{ category.category_name }}
            <div class="d-inline" style="font-style: italic; color: gray">({{ category.products.all|length }})</div>
        </h5>
        <div class="column">
            {% for subcategory in category.subcategories.all %}
                <div class="row">
                    <div>
                        {% if subcategory.photo %}
                            <img src="{{ subcategory.photo.url }}" alt="..." style="width: 10vw">
                        {% else %}
                            {% load static %}
                            <img src="{% static "images/no_photo.jpg" %}" alt="no-photo" style="width: 10vw">
                        {% endif %}
                    </div>
                    <a class="mt-4" style="color: black" href="{% url 'webapp:products_sub_category' subcategory.pk %}?category={{ subcategory.pk }}">{{ subcategory.sub_name }}<div class="d-inline" style="font-style: italic; color: gray">({{ subcategory.product.all|length }})</div></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}