{% extends 'base.html' %}
{% load static %}
{% block title %}Проверка{% endblock %}
{% block styles %}{% endblock %}
{% block content %}
    <div class="container my-4 my-sm-5">
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="payment-details table-products">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">Корзина</li>
                            <li class="breadcrumb-item active">Проверка</li>
                            <li class="breadcrumb-item">Оплата</li>
                        </ol>
                    </nav>
                    <h4>Платежные реквизиты</h4>
                    <form method="POST" enctype="multipart/form-data" id='pay-form'
                          action="{% url "webapp:check_cart" %}">
                        {% csrf_token %}
                        <div class="first-last-name">
                            <input type="text" name="first_name" value="{{ first_name }}" autofocus
                                   placeholder="Ваше Имя" required>
                            <input type="text" name="last_name" value="{{ last_name }}" placeholder="Ваша фамилия"
                                   required>
                        </div>
                        {% if request.user.profile.type == "company" %}
                            <input type="text" name="company_name" value="{{ company_name }}" placeholder="Имя компании"
                                   required>
                        {% endif %}
                        <br>
                        {#                        {% if user.address.all %}#}
                        {#                            <select name="address" id="address">#}
                        {#                                {% for address in user.address.all %}#}
                        {#                                    <option value="{{ address }}">{{ address }}</option>#}
                        {#                                {% endfor %}#}
                        {#                            </select>#}
                        {% if addresses %}
                            <select style="margin-bottom: 20px; padding: 20px; border: 1px solid #CCCCCC; border-radius: 2px;" name="address" id="address">
                                {% for address in addresses %}
                                    <option class="address" value="{{ address }}">{{ address }}</option>
                                {% endfor %}
                            </select>
                            {#                            {{ form.address }}#}
                            <a href="{% url 'webapp:delivery_address_add' %}" class="btn hiddenbutton"
           style="background-color: #83B734; color: white">
            + Добавить новый адрес доставки</a>
                        {% else %}
                            <input type="text" required name="city" placeholder="Город" value="Бишкек">
                            <input type="text" name="street" placeholder="Улица / Мкр" required>
                            <input type="text" name="building_number" placeholder="Номер дома" required>
                            <input type="text" name="entrance_number" placeholder="Подъезд">
                            <input type="text" name="flat_number" placeholder="Номер квартиры / офиса">
                            <input type="text" name="additional_info" placeholder="Дополнительная информация">
                        {% endif %}
                        {{ form.address.errors }}
                        <input type="text" name="phone" value="{{ phone }}" placeholder="Номер телефона +996500123456"
                               required>
                        <input type="text" name="email" value="{{ email }}" placeholder="Почта" required>
                        {#                        {% if user.is_anonymous %}#}
                        {#                        <div class="create-account-checkbox">#}
                        {#                            <input type="checkbox" id="create_account" name="create_account">#}
                        {#                            <label for="create_account">Создать аккаунт?</label>#}
                        {#                        </div>#}
                        {#                        {% endif %}#}
                    </form>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="order-summ">
                    <h3 class="order-summ-header">Ваш заказ</h3>
                    <div class="order-summ-table">
                        <table class="table">
                            <tbody>
                            {% for item in cart_products %}
                                <tr>
                                    <td class="none-top-border order-product-name">{{ item.product.name }}</td>
                                    <td class="none-top-border order-product-qty">х{{ item.qty }}</td>
                                    <td class="none-top-border order-product-summ">{{ item.total }}</td>
                                </tr>
                            {% endfor %}
                            {{ cart }}
                            <th class="none-top-border order-header" colspan="2" scope="row">Доставка</th>
                            <td class="none-top-border order-summ-delivery">{{ shipping_cost }}</td>
                            {% if shipping_message %}
                                <p style="color: red">{{ shipping_message }}</p>
                            {% endif %}
                            </tr>
                            <tr>
                                <th class="none-top-border order-header pb-4" colspan="2" scope="row">Итог</th>
                                <td class="none-top-border order-summ-delivery pb-4">{{ cart_total }}</td>
                            </tr>
                            <tr>
                                <th class="order-header-itog" colspan="2" scope="row">Общий итог</th>
                                <td class="order-product-summ">{{ total }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="payment-method">
                        <div class="method-radio">
                            <input type="radio" id='visa' name="method" value="visa">
                            <label for="visa">Через карту Visa / Элькарт</label><br>
                        </div>
                        <div class="method-radio">
                            <input type="radio" id="ibank" name="method" value="ibank">
                            <label for="ibank">Через интернет банкинг</label><br>
                        </div>
                        <div class="method-radio">
                            <input type="radio" id="cash" name="method" value="cash" checked="checked">
                            <label for="cash">Оплата при доставке(наличными)</label>
                        </div>
                    </div>
                    <div class="agree-checkbox">
                        <input type="checkbox" id="agree" name="agree">
                        <label for="agree">Я прочитал и согласен с условиями сайта</label>
                    </div>
                    {#                    <div class="pay-btn">#}
                    {#                        <button type="button" class="to-cart btn btn-success" disabled>Перейти к оплате</button>#}
                    {#                    </div>#}
                    <div class="pay-btn">
                        <button type="button" class="to-cart btn btn-success" disabled><input class="btn btn-success" type="submit"
                                                                                              value="Перейти к оплате">
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="empty-collapse-2"><i class="fas fa-times"></i></div>
    <div class="modal-for-card py-5">
        <h4>Введите ваши данные</h4>
        <input form="pay-form" type="text" name="card_number" class='card-number' placeholder="Номер карты">
        <div class="date-cvc">
            <input form="pay-form" type="text" name="date" class='card-date' placeholder="ММ/ГГ">
            <input form="pay-form" type="text" name="cvc" class='card-cvc' placeholder="CVC (три цифры на обороте)">
        </div>
        <input form="pay-form" class='card-name' type="text" name="name" placeholder="Имя держателя (как на карте)">
        <button form="pay-form" type="submit" class="to-cart btn btn-success">Оплатить</button>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src='{% static "js/check.js" %}'></script>
{% endblock %}