{% extends 'base.html' %}
{% load static %}
{% block title %}Доставка{% endblock %}
{% block styles %}{% endblock %}
{% block content %}
    <div class="container delivery-content mb-5">
        <nav aria-label="breadcrumb" class="my-4">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Условия доставки</li>
            </ol>
        </nav>
        <div class="delivery-price">
            <div class="delivery-title d-flex align-items-end mb-4 mt-5">
                <div class="delivery-icon mr-2 mr-sm-4"></div>
                <h4>Стоимость доставки</h4>
            </div>
            <div class="line d-flex">
                <div class="marker"></div>
                <p>При заказе сумму <b>от 3000 руб</b> - доставка <b>бесплатная</b></p>
            </div>
            <div class="line d-flex">
                <div class="marker"></div>
                <p>При заказе на сумму менее <b>3000 руб.</b> – доставка <b>350 руб.</b></p>
            </div>
            <div class="line d-flex">
                <div class="marker"></div>
                <p>Минимальная партия отгрузки воды – <b>3 бутыли.</b> Доставка бесплатная. <a href="">Подробнее об условиях доставки бутилированной воды.</a></p>
            </div>
            <div class="line d-flex">
                <div class="marker"></div>
                <p><b>Акция «Ночные часы».</b>Бесплатная доставка при заказе от <b>2000 руб.</b> Оформите заказ на сумму от 2000 руб. <b>с 23:00 до 07:00.</b> Введите промо-код 300 в корзине и получите <b>бесплатную доставку.</b><br><b> Внимание!</b> Акция не распространяется на товары из раздела «Бутилированная вода» и «Заправка и восстановление картриджей».</p>
            </div>
        </div>
        <div class="delivery-time-block">
            <div class="delivery-title d-flex align-items-end mb-4 mt-5">
                <div class="delivery-time mr-2 mr-sm-4"></div>
                <h4>Сроки доставки</h4>
            </div>
            <div class="line d-flex">
                <div class="marker"></div>
                <p>Внимание! Теперь доставка из раздела "Продукты питания" осуществляется в вечерние часы, а также по субботам!</p>
            </div>
            <div class="line d-flex">
                <div class="marker"></div>
                <p><b>Доставка в рабочее время</b> (с 09:00 до 18:00). Доставка выполняется <b>на следующий рабочий день</b> при наличии свободного лимита на доставку и размещении заказа до <b>17:30.</b> При отсутствии свободного лимита и размещении заказа после <b>17:30</b> доставка выполняется через один день.</p>
            </div>
            <div class="line d-flex">
                <div class="marker"></div>
                <p><b>Доставка в вечернее время</b> (с 19:00 до 22:00). Доставка осуществляется в рабочие дни в пределах МКАД. При размещении заказа до 17:30 доставка выполняется на следующий рабочий день, при размещении заказа после 17:30 – через один рабочий день. Доставка товаров из раздела «Рабочая одежда» в вечерние часы не осуществляется. *Для физических лиц возможна доставка бутилированной воды 19л в одноразовой таре: арт. 789627, арт. 465578, арт. 781576, арт. 909056.</p>
            </div>
            <div class="line d-flex">
                <div class="marker"></div>
                <p><b>Доставка в субботу.</b> Доставка осуществляется в пределах МКАД при оформлении заказа в любой рабочий день (до 15:00 пятницы) и указании субботы в качестве дня доставки. Доставка товаров из раздела «Бутилированная вода» по субботам не осуществляется.</p>
            </div>
        </div>
        <div class="delivery-big-block">
            <div class="delivery-title d-flex align-items-start mb-4 mt-5">
                <div class="delivery-big mr-2 mr-sm-4"></div>
                <h4>Крупногабаритные и тяжеловесные грузы</h4>
            </div>
            <div class="line d-flex">
                <div class="marker"></div>
                <p><b>Доставка мебели.</b> Если в вашем заказе есть и мебель, и другие товары, возможна доставка несколькими машинами. Специалисты отдела доставки самостоятельно поднимут мебель на ваш этаж, занесут ее в помещение, в соответствии с требованиями всех стандартов качества продемонстрируют целостность стеклянных и зеркальных элементов при передаче товара. <a href="">Подробнее</a></p>
            </div>
            <div class="line d-flex">
                <div class="marker"></div>
                <p><b>Доставка сейфов.</b> Уважаемые покупатели, для доставки и разгрузки сейфов весом более 90 кг действуют особые условия. Узнать о стоимости доставки и разгрузки сейфа вы можете в выбранном вами артикуле сейфа в разделе «Условия доставки и разгрузки сейфов». <a href="">Подробнее</a></p>
            </div>
        </div>
        <div class="delivery-self">
            <div class="delivery-title d-flex align-items-end mb-4 mt-5">
                <h4>Самовывоз</h4>
            </div>
            <div class="line d-flex">
                <div class="marker delivery-marker-1"></div>
                <p class="text-red">Внимание! В период действия Режима Повышенной Готовности, установленным Правительством г.Москвы, пункты самовывоза Комус работать не будут!</p>
            </div>
            <div class="line d-flex">
                <div class="marker delivery-marker-2"></div>
                <div>
                    <p><b>Преимущества</b></p>
                    <ul>
                        <li>Бесплатная доставка при заказе от <span class="text-green"><b>300 руб.</b></span></li>
                        <li>Широкая география.</li>
                        <li>Забрать заказ можно в любое время работы розничного магазина «Комус» или пункта самовывоза Boxberry.</li>
                        <li>Срок хранения заказа в пункте самовывоза составляет 3 дня без учета выходных.</li>
                    </ul>
                </div>
            </div>
            <div class="line d-flex">
                <div class="marker delivery-marker-2"></div>
                <div>
                    <p><b>Как воспользоваться</b></p>
                    <ul>
                        <li>Положите товары, обозначенные значком - «самовывоз доступен» в корзину.</li>
                        <li>При оформлении заказа выберите способ получения «Самовывоз».</li>
                        <li>Выберите удобный вам розничный магазин «Комус» или пункт самовывоза Boxberry.</li>
                        <li>Выберите способ оплаты и доступный день получения.</li>
                        <li>Заберите заказ в течение 3 рабочих дней после поступления SMS о готовности к выдаче.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}{% endblock %}