{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Доставка{% endblock %}
{% block styles %}{% endblock %}
{% block content %}
    <div class="container delivery-content mb-5">
        <nav aria-label="breadcrumb" class="my-4">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Избранное</li>
            </ol>
        </nav>
        <div class="products-in-category">
            <div class="row">
                <!-- Начало карточки -->
                <div class="col-6 col-md-3 px-2">
                    <div class="card">
                        <div class="photo-back">
                            <img src="{% static 'images/chair.png' %}" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <div class="card-text d-flex flex-column align-items-center px-3">
                                <h5>Принтер для печати</h5>
                                <p>Электроника</p>
                                <p class="price">250-400 c</p>
                                <div class="discount-count d-flex align-items-center justify-content-center">5%</div>
                            </div>
                            <div class="position-for-hidden position-relative">
                                <div class="hidden-part text-center">
                                    <p class="card-text">Some quick example text to build on the card content.</p>
                                    <div class="promo-icons d-flex justify-content-center">
                                        <button class="promo-button-favorite"></button>
                                        <button class="promo-button-compare"></button>
                                        <button class="promo-button-share"></button>
                                    </div>
                                    <button type="button" class="to-cart btn btn-success">В корзину</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Конец карточки -->
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}{% endblock %}