{% extends 'base.html' %}
{% block content %}
    <h1>Новости</h1>
    {% if request.user.is_staff %}
        <a href="{% url 'webapp:news_add' %}" class="btn ml-5 my-3 hiddenbutton" style="background-color: #83B734; color: white">
            + Добавить новость</a>
    {% endif %}
    <hr/>
    {%  for news in news_list %}
      <div class="row">
        <div class="col-3 m-2">
            {% if news.photo %}
                <img src="{{ news.photo.url }}" class="photo card-img-top mb-5" alt="{{ news.title }}">
            {% else %}
                {% load static %}<a href="{% static "images/no_photo.jpg" %}" data-fancybox="gallery" data-caption="Caption #1"></a>
            {% endif %}
        </div>
        <div class="col-8">
            <h5 class="news-title">{{ news.title }}</h5>
            <p class="news-text" style=>{{ news.text }}</p>
            <a href="{% url 'webapp:news_detail' news.pk %}" class="link mb-2" style="color:red">Читать полностью</a>
        </div>
      </div>
    {% endfor %}
{% endblock %}



