{% extends 'base.html' %}
{% load static %}
{% block title %}Доставка{% endblock %}
{% block styles %}{% endblock %}
{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb" class="my-4">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="{% url 'webapp:index' %}">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Как оплатить</li>
            </ol>
        </nav>
        <div class="payment-block return-block">
            <div class="how-pay">
                <h4>Как оплатить заказ</h4>
                <div class="methods-payment">
                    <div class="method-payment cash-pay"><p>Наличный расчет</p></div>
                    <div class="method-payment card-pay"><p>Безналичный расчет</p></div>
                    <div class="method-payment i-pay"><p>Онлайн оплата</p></div>
                    <div class="method-payment sertificate-pay"><p>Карта и подарочный сертификат</p></div>
                </div>
                <p>Для Вашего удобства мы предусмотрели различные варианты оплаты. Покупки можно оплатить при помощи безналичного расчёта, в том числе пластиковыми картами онлайн (прямо на сайте), электронными деньгами и через интернет-банкинг.</p>
                <p>Для жителей г. Москвы и Московской области доступен новый тип оплаты - оплата курьеру банковской картой при получении. развернуть</p>
            </div>
            <div class="cash-payment mt-5">
                <h4>Наличный расчет</h4>
                <p>Вы оплачиваете заказ наличными курьеру при получении, либо в пункте самовывоза.</p>
                <div class="d-flex">
                    <div class="marker"></div>
                    <p>Вам будут предоставлены все сопроводительные документы.</p>
                </div>
                <div class="d-flex">
                    <div class="marker"></div>
                    <p>Физическим лицам предоставляются товарный и кассовый чеки. Юридическим лицам предоставляется кассовый чек, товарная накладная «Торг-12» и счет-фактура.</p>
                </div>
                <div class="d-flex">
                    <div class="marker"></div>
                    <p>Оплата осуществляется на основании счета. Счет может быть сформирован автоматически после завершения оформления заказа, либо выслан Вам на указанный e-mail после обработки заказа оператором. Как сформировать счет на оплату заказа?</p>
                </div>
                <div class="d-flex">
                    <div class="marker"></div>
                    <p>Обращаем Ваше внимание, что заказ отгружается только после зачисления средств на банковский счет компании «Комус», если иное не обусловлено договором.</p>
                </div>
                <div class="d-flex">
                    <div class="marker"></div>
                    <p>Вместе с заказом Вам будут предоставлены товаро-сопроводительные документы для бухгалтерии (оригинал счета на оплату, счет-фактура, накладна</p>
                </div>
            </div>
            <div class="card-payment mt-5">
                <h4>Безналичный расчет</h4>
                <div class="d-flex">
                    <div class="marker"></div>
                    <p>Вы оплачиваете заказ по выставленному счету. Данный вид оплаты доступен только для юридических лиц.</p>
                </div>
                <div class="d-flex">
                    <div class="marker"></div>
                    <p>Оплата осуществляется на основании счета. Счет может быть сформирован автоматически после завершения оформления заказа, либо выслан Вам на указанный e-mail после обработки заказа оператором. Как сформировать счет на оплату заказа?</p>
                </div>
                <div class="d-flex">
                    <div class="marker"></div>
                    <p>Обращаем Ваше внимание, что заказ отгружается только после зачисления средств на банковский счет компании «Комус», если иное не обусловлено договором.</p>
                </div>
                <div class="d-flex">
                    <div class="marker"></div>
                    <p>Вместе с заказом Вам будут предоставлены товаро-сопроводительные документы для бухгалтерии (оригинал счета на оплату, счет-фактура, накладная).</p>
                </div>
            </div>
            <div class="i-payment mt-5">
                <h4>Онлайн-оплата</h4>
                <p>Вы оплачиваете заказ онлайн во время оформления на сайте. Для оплаты Вы можете воспользоваться банковской картой, электронными деньгами или интернет-банкингом.</p>
                <p>Обращаем Ваше внимание, что онлайн-платеж не распространяется на ряд товаров со статусом «под заказ», а так же на предоставляемые услуги (например, нанесение логотипа, аренда кулера, сервисное обслуживание и другие подобные товары со статусом «услуга доступна»). Для оплаты заказов, в которых есть такие товары, Вы можете выбрать либо наличный, либо безналичный расчет.</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}{% endblock %}