{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Kanctorg{% endblock %}
{% block menu %}
    {% if perms.webapp.product_add %}
        <a href="{% url 'webapp:product_create' %}" class="login  d-none d-md-flex">Доб тов</a>
        <a href="{% url 'webapp:orders' %}" class="login  d-none d-md-flex">Зак</a>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="category-detail-headline">
        <img src="{% static 'images/category_images/kanc-header3.webp' %}" alt="">
        <h4>Компьютерная техника</h4>
    </div>
    <div class="container">
        <div class="category-block-content d-flex">
            <div class="filter d-lg-block collapse" id="collapseExample1">
                <div class="category-detail-filter">
                    <div class="filter-price mb-5">
                        <p class="filter-header">Фильтр по цене</p>
                        <div id="slider-range"></div>
                        <p class="filter-price-text">
                            <label for="amount">Цена:</label>
                            <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                        </p>
                    </div>
                    <hr/>
                    <div class="filter-color d-flex flex-column mb-5">
                        <p class="filter-header">Фильтр по цвету</p>
                        <button type="button" class="btn btn-light d-flex align-items-center pl-0 category-filter-color-btn">
                            <div class="category-filter-color-circle" style="background-color: #F0DEBA;"></div>
                            Beige
                            <div class="category-filter-color-number">2</div>
                        </button>
                        <button type="button" class="btn btn-light d-flex align-items-center pl-0 category-filter-color-btn">
                            <div class="category-filter-color-circle" style="background-color: green;"></div>
                            Green
                            <div class="category-filter-color-number">4</div>
                        </button>
                        <button type="button" class="btn btn-light d-flex align-items-center pl-0 category-filter-color-btn">
                            <div class="category-filter-color-circle" style="background-color: grey;"></div>
                            Grey
                            <div class="category-filter-color-number">1</div>
                        </button>
                        <button type="button" class="btn btn-light d-flex align-items-center pl-0 category-filter-color-btn">
                            <div class="category-filter-color-circle" style="background-color: blue;"></div>
                            Blue
                            <div class="category-filter-color-number">5</div>
                        </button>
                    </div>
                    <hr/>
                    <div class="filter-brand mb-5">
                        <p class="filter-header">Фильтр по бренду</p>
                        <div class="filter-brand-imgs">
                            <button type="button" class="btn btn-light"><img class='filter-brand-img' src="{% static 'images/icons/partners/qiwi.png' %}" alt=""></button>
                            <button type="button" class="btn btn-light"><img class='filter-brand-img' src="{% static 'images/icons/partners/qiwi.png' %}" alt=""></button>
                            <button type="button" class="btn btn-light"><img class='filter-brand-img' src="{% static 'images/icons/partners/samsung.png' %}" alt=""></button>
                            <button type="button" class="btn btn-light"><img class='filter-brand-img' src="{% static 'images/icons/partners/kia.png' %}" alt=""></button>
                            <button type="button" class="btn btn-light"><img class='filter-brand-img' src="{% static 'images/icons/partners/Mail.png' %}" alt=""></button>
                            <button type="button" class="btn btn-light"><img class='filter-brand-img' src="{% static 'images/icons/partners/samsung.png' %}" alt=""></button>
                        </div>
                    </div>
                    <hr/>
                    <div class="bestseller-in-filter">
                        <div class="bestseller p-5 mb-0 mt-5">
                            <p class="bestseller-text-background-in-category-page">Bestseller</p>
                            <div class="bestseller-content mt-0">
                                <h3>Office chair</h3>
                                <p class="bestseller-text pr-0 mt-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel ratione maiores harum. Aliquid, sed.</p>
                                <img class="bestseller-img mb-5" src="{% static 'images/chair.png' %}" alt="Кресло" style="">
                                <p class="bestseller-price ml-0">$8</p>
                                <button type="button" class="btn bestseller-button mr-0">в корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-products">
                    <div class="bread"></div>
                    <div class="hidden-filter-button"></div>
                    <div class="product-list"></div>
                </div>
            </div>
            <div class="content-without-filter w-100 ml-3">
                <div class="bread-pagination-sort d-flex align-items-baseline">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#">Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Компьютерная техника</li>
                        </ol>
                    </nav>
                    <div class="pagination ml-auto d-none d-lg-block">
                        <p>Страница: 9 / 12 / 24</p>
                    </div>
                    <div class="sort-incategory-dropdown dropdown d-none d-lg-block">
                        <button class="btn btn-light dropdown-toggle ml-5" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Сортировка
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">По убыванию</a>
                            <a class="dropdown-item" href="#">По возрастанию</a>
                            <a class="dropdown-item" href="#">еще как-то</a>
                        </div>
                    </div>
                </div>
                <div class="button-and-sort d-flex align-items-center d-block d-lg-none my-3">
                    <button class="filter-btn navbar-toggler navbar-light filter-slider-appereance-btn btn" type="button">
                        <span class="navbar-toggler-icon mr-2"></span><p>Фильтр</p>
                    </button>

                    <button type="button" class="btn sort-btn"></button>
                </div>
                <div class="products-in-category">
                    <div class="row mx-0">
                        <div class="col-6 col-md-4 px-2">
                            <div class="card">
                                <div class="photo-back">
                                    <div class="photo-div">
                                        <img src="{% static 'images/printer2.png' %}" class="card-img-top" alt="...">

                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card-text d-flex flex-column align-items-center px-3">
                                        <h5>Принтер для печати</h5>
                                        <p>Электроника</p>
                                        <p class="price">250-400 c</p>
                                        <div class="discount-count d-flex align-items-center justify-content-center">5%</div>
                                    </div>
                                    <div class="position-for-hidden position-relative">
                                        <div class="hidden-part text-center">
                                            <p class="card-text">Some quick example text to build on the card content.</p>
                                            <div class="promo-icons d-flex justify-content-center">
                                                <button class="promo-button-favorite"></button>
                                                <button class="promo-button-compare"></button>
                                                <button class="promo-button-share"></button>
                                            </div>
                                            <button type="button" class="to-cart btn btn-success">В корзину</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 px-2">
                            <div class="card">
                                <div class="photo-back">
                                    <div class="photo-div">
                                        <img src="{% static 'images/mouse.png' %}" class="card-img-top" alt="...">

                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card-text d-flex flex-column align-items-center px-3">
                                        <h5>Компьютерная мышка</h5>
                                        <p>Электроника</p>
                                        <p class="price">250-400 c</p>
                                        <div class="discount-count d-flex align-items-center justify-content-center">5%</div>
                                    </div>
                                    <div class="position-for-hidden position-relative">
                                        <div class="hidden-part text-center">
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <div class="promo-icons d-flex justify-content-center">
                                                <button class="promo-button-favorite"></button>
                                                <button class="promo-button-compare"></button>
                                                <button class="promo-button-share"></button>
                                            </div>
                                            <button type="button" class="to-cart btn btn-success">В корзину</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 px-2">
                            <div class="card">
                                <div class="photo-back">
                                    <div class="photo-div">
                                        <img src="{% static 'images/mouse.png' %}" class="card-img-top" alt="...">

                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card-text d-flex flex-column align-items-center px-3">
                                        <h5>Компьютерная мышка</h5>
                                        <p>Электроника</p>
                                        <p class="price">250-400 c</p>
                                        <div class="discount-count d-flex align-items-center justify-content-center">5%</div>
                                    </div>
                                    <div class="position-for-hidden position-relative">
                                        <div class="hidden-part text-center">
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <div class="promo-icons d-flex justify-content-center">
                                                <button class="promo-button-favorite"></button>
                                                <button class="promo-button-compare"></button>
                                                <button class="promo-button-share"></button>
                                            </div>
                                            <button type="button" class="to-cart btn btn-success">В корзину</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 px-2">
                            <div class="card">
                                <div class="photo-back">
                                    <div class="photo-div">
                                        <img src="{% static 'images/printer2.png' %}" class="card-img-top" alt="...">

                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card-text d-flex flex-column align-items-center px-3">
                                        <h5>Принтер для печати</h5>
                                        <p>Электроника</p>
                                        <p class="price">250-400 c</p>
                                        <div class="discount-count d-flex align-items-center justify-content-center">5%</div>
                                    </div>
                                    <div class="position-for-hidden position-relative">
                                        <div class="hidden-part text-center">
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <div class="promo-icons d-flex justify-content-center">
                                                <button class="promo-button-favorite"></button>
                                                <button class="promo-button-compare"></button>
                                                <button class="promo-button-share"></button>
                                            </div>
                                            <button type="button" class="to-cart btn btn-success">В корзину</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 px-2">
                            <div class="card">
                                <div class="photo-back">
                                    <div class="photo-div">
                                        <img src="{% static 'images/mouse.png' %}" class="card-img-top" alt="...">

                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card-text d-flex flex-column align-items-center px-3">
                                        <h5>Компьютерная мышка</h5>
                                        <p>Электроника</p>
                                        <p class="price">250-400 c</p>
                                        <div class="discount-count d-flex align-items-center justify-content-center">5%</div>
                                    </div>
                                    <div class="position-for-hidden position-relative">
                                        <div class="hidden-part text-center">
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <div class="promo-icons d-flex justify-content-center">
                                                <button class="promo-button-favorite"></button>
                                                <button class="promo-button-compare"></button>
                                                <button class="promo-button-share"></button>
                                            </div>
                                            <button type="button" class="to-cart btn btn-success">В корзину</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 px-2">
                            <div class="card">
                                <div class="photo-back">
                                    <div class="photo-div">
                                        <img src="{% static 'images/mouse.png' %}" class="card-img-top" alt="...">

                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card-text d-flex flex-column align-items-center px-3">
                                        <h5>Компьютерная мышка</h5>
                                        <p>Электроника</p>
                                        <p class="price">250-400 c</p>
                                        <div class="discount-count d-flex align-items-center justify-content-center">5%</div>
                                    </div>
                                    <div class="position-for-hidden position-relative">
                                        <div class="hidden-part text-center">
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <div class="promo-icons d-flex justify-content-center">
                                                <button class="promo-button-favorite"></button>
                                                <button class="promo-button-compare"></button>
                                                <button class="promo-button-share"></button>
                                            </div>
                                            <button type="button" class="to-cart btn btn-success">В корзину</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 px-2">
                            <div class="card">
                                <div class="photo-back">
                                    <div class="photo-div">
                                        <img src="{% static 'images/mouse.png' %}" class="card-img-top" alt="...">

                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card-text d-flex flex-column align-items-center px-3">
                                        <h5>Принтер для печати</h5>
                                        <p>Электроника</p>
                                        <p class="price">250-400 c</p>
                                        <div class="discount-count d-flex align-items-center justify-content-center">5%</div>
                                    </div>
                                    <div class="position-for-hidden position-relative">
                                        <div class="hidden-part text-center">
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <div class="promo-icons d-flex justify-content-center">
                                                <button class="promo-button-favorite"></button>
                                                <button class="promo-button-compare"></button>
                                                <button class="promo-button-share"></button>
                                            </div>
                                            <button type="button" class="to-cart btn btn-success">В корзину</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 px-2">
                            <div class="card">
                                <div class="photo-back">
                                    <div class="photo-div">
                                        <img src="{% static 'images/mouse.png' %}" class="card-img-top" alt="...">

                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card-text d-flex flex-column align-items-center px-3">
                                        <h5>Компьютерная мышка</h5>
                                        <p>Электроника</p>
                                        <p class="price">250-400 c</p>
                                        <div class="discount-count d-flex align-items-center justify-content-center">5%</div>
                                    </div>
                                    <div class="position-for-hidden position-relative">
                                        <div class="hidden-part text-center">
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <div class="promo-icons d-flex justify-content-center">
                                                <button class="promo-button-favorite"></button>
                                                <button class="promo-button-compare"></button>
                                                <button class="promo-button-share"></button>
                                            </div>
                                            <button type="button" class="to-cart btn btn-success">В корзину</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 px-2">
                            <div class="card">
                                <div class="photo-back">
                                    <div class="photo-div">
                                        <img src="{% static 'images/mouse.png' %}" class="card-img-top" alt="...">

                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card-text d-flex flex-column align-items-center px-3">
                                        <h5>Компьютерная мышка</h5>
                                        <p>Электроника</p>
                                        <p class="price">250-400 c</p>
                                        <div class="discount-count d-flex align-items-center justify-content-center">5%</div>
                                    </div>
                                    <div class="position-for-hidden position-relative">
                                        <div class="hidden-part text-center">
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <div class="promo-icons d-flex justify-content-center">
                                                <button class="promo-button-favorite"></button>
                                                <button class="promo-button-compare"></button>
                                                <button class="promo-button-share"></button>
                                            </div>
                                            <button type="button" class="to-cart btn btn-success">В корзину</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 px-2">
                            <div class="card">
                                <div class="photo-back">
                                    <div class="photo-div">
                                        <img src="{% static 'images/mouse.png' %}" class="card-img-top" alt="...">

                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card-text d-flex flex-column align-items-center px-3">
                                        <h5>Принтер для печати</h5>
                                        <p>Электроника</p>
                                        <p class="price">250-400 c</p>
                                        <div class="discount-count d-flex align-items-center justify-content-center">5%</div>
                                    </div>
                                    <div class="position-for-hidden position-relative">
                                        <div class="hidden-part text-center">
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <div class="promo-icons d-flex justify-content-center">
                                                <button class="promo-button-favorite"></button>
                                                <button class="promo-button-compare"></button>
                                                <button class="promo-button-share"></button>
                                            </div>
                                            <button type="button" class="to-cart btn btn-success">В корзину</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 px-2">
                            <div class="card">
                                <div class="photo-back">
                                    <div class="photo-div">
                                        <img src="{% static 'images/mouse.png' %}" class="card-img-top" alt="...">

                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card-text d-flex flex-column align-items-center px-3">
                                        <h5>Компьютерная мышка</h5>
                                        <p>Электроника</p>
                                        <p class="price">250-400 c</p>
                                        <div class="discount-count d-flex align-items-center justify-content-center">5%</div>
                                    </div>
                                    <div class="position-for-hidden position-relative">
                                        <div class="hidden-part text-center">
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <div class="promo-icons d-flex justify-content-center">
                                                <button class="promo-button-favorite"></button>
                                                <button class="promo-button-compare"></button>
                                                <button class="promo-button-share"></button>
                                            </div>
                                            <button type="button" class="to-cart btn btn-success">В корзину</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 px-2">
                            <div class="card">
                                <div class="photo-back">
                                    <div class="photo-div">
                                        <img src="{% static 'images/mouse.png' %}" class="card-img-top" alt="...">

                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card-text d-flex flex-column align-items-center px-3">
                                        <h5>Компьютерная мышка</h5>
                                        <p>Электроника</p>
                                        <p class="price">250-400 c</p>
                                        <div class="discount-count d-flex align-items-center justify-content-center">5%</div>
                                    </div>
                                    <div class="position-for-hidden position-relative">
                                        <div class="hidden-part text-center">
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <div class="promo-icons d-flex justify-content-center">
                                                <button class="promo-button-favorite"></button>
                                                <button class="promo-button-compare"></button>
                                                <button class="promo-button-share"></button>
                                            </div>
                                            <button type="button" class="to-cart btn btn-success">В корзину</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 px-2">
                            <div class="card">
                                <div class="photo-back">
                                    <div class="photo-div">
                                        <img src="{% static 'images/mouse.png' %}" class="card-img-top" alt="...">

                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card-text d-flex flex-column align-items-center px-3">
                                        <h5>Принтер для печати</h5>
                                        <p>Электроника</p>
                                        <p class="price">250-400 c</p>
                                        <div class="discount-count d-flex align-items-center justify-content-center">5%</div>
                                    </div>
                                    <div class="position-for-hidden position-relative">
                                        <div class="hidden-part text-center">
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <div class="promo-icons d-flex justify-content-center">
                                                <button class="promo-button-favorite"></button>
                                                <button class="promo-button-compare"></button>
                                                <button class="promo-button-share"></button>
                                            </div>
                                            <button type="button" class="to-cart btn btn-success">В корзину</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 px-2">
                            <div class="card">
                                <div class="photo-back">
                                    <div class="photo-div">
                                        <img src="{% static 'images/mouse.png' %}" class="card-img-top" alt="...">

                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card-text d-flex flex-column align-items-center px-3">
                                        <h5>Компьютерная мышка</h5>
                                        <p>Электроника</p>
                                        <p class="price">250-400 c</p>
                                        <div class="discount-count d-flex align-items-center justify-content-center">5%</div>
                                    </div>
                                    <div class="position-for-hidden position-relative">
                                        <div class="hidden-part text-center">
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <div class="promo-icons d-flex justify-content-center">
                                                <button class="promo-button-favorite"></button>
                                                <button class="promo-button-compare"></button>
                                                <button class="promo-button-share"></button>
                                            </div>
                                            <button type="button" class="to-cart btn btn-success">В корзину</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 px-2">
                            <div class="card">
                                <div class="photo-back">
                                    <div class="photo-div">
                                        <img src="{% static 'images/mouse.png' %}" class="card-img-top" alt="...">

                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card-text d-flex flex-column align-items-center px-3">
                                        <h5>Компьютерная мышка</h5>
                                        <p>Электроника</p>
                                        <p class="price">250-400 c</p>
                                        <div class="discount-count d-flex align-items-center justify-content-center">5%</div>
                                    </div>
                                    <div class="position-for-hidden position-relative">
                                        <div class="hidden-part text-center">
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <div class="promo-icons d-flex justify-content-center">
                                                <button class="promo-button-favorite"></button>
                                                <button class="promo-button-compare"></button>
                                                <button class="promo-button-share"></button>
                                            </div>
                                            <button type="button" class="to-cart btn btn-success">В корзину</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bestseller mb-0 mt-3 pb-3 d-lg-none">
        <p class="bestseller-text-background">Bestseller</p>
        <img class="bestseller-img" src="{% static 'images/chair.png' %}" alt="Кресло" style="">
        <div class="bestseller-content">
            <h3>Кресло для офиса</h3>
            <p class="bestseller-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel ratione maiores harum. Aliquid, sed.</p>
            <p class="bestseller-price">$8</p>
            <button type="button" class="btn bestseller-button mr-4">в корзину</button>
        </div>
    </div>
    {#    <h1 class="text-center">Товары</h1>#}
    {#    <div class="row">#}
    {#        {% for product in products %}#}
    {#            <div class="col col-3">#}
    {#                <div class="card">#}
    {#                    {% if product.photo %}#}
    {#                        <img src="{{ product.photo.url }}" class="card-img-top" alt="{{ product.name }}">#}
    {#                    {% else %}#}
    {#                        <img src="{% static 'default_image.png' %}" class="card-img-top" alt="No photo">#}
    {#                    {% endif %}#}
    {#                    <div class="card-body">#}
    {#                        <h5 class="card-title">{{ product.name }}</h5>#}
    {#                        <p class="card-text">{{ product.category }} | {{ product.price }} сом</p>#}
    {#                        <a href="{% url "webapp:product_detail" product.pk %}"#}
    {#                           class="btn btn-primary">Посмотреть</a>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        {% endfor %}#}
    {#    </div>#}
{% endblock %}
{% block scripts %}
    <script type="application/javascript" src="{% static "js/products.js" %}"></script>
{% endblock %}