{% extends 'base.html' %}
{% load static%}
{% block title %}Доставка{% endblock %}
{% block styles %}{% endblock %}
{% block content %}
    <div class="container">
		<nav aria-label="breadcrumb" class="my-4">
			<ol class="breadcrumb mb-0">
				<li class="breadcrumb-item"><a href="#">Главная</a></li>
				<li class="breadcrumb-item active" aria-current="page">Возврат</li>
			</ol>
		</nav>
		<div class="return-block">
			<h4>Возврат</h4>
			<p>Любой товар, заказанный в Офис Эксперт, может быть возвращен в течение 14 дней, не считая дня покупки в
                случае отсутствия возражений со стороны Продавца. Просьба внимательно ознакомиться с правилами возврата
                Товара.</p>
			<p><b>Для возврата товара необходимо:</b><br><br>заявление на возврат (Вы можете скачать его на нашем сайте
                или получить в пункте выдачи товара) возвращаемый товар копию документа, удостоверяющего личность
                (человека на которого был оформлен заказ); фискальный чек (если товар приобретался за наличный расчет);
                товарная накладная на товар гарантийный талон (если данный товар относится к категории товаров, на
                которые распространяется обязательная гарантия, например электроника и бытовая техника);</p>
			<p><b>1. Обмен и возврат товара ненадлежащего качества</b> <br><br>Товар ненадлежащего качества – товар, не
                способный обеспечить свои функциональные качества из-за существенного недостатка. К товару
                ненадлежащего качества также относится товар, который Клиент возвращает по причине несоответствия
                заказанному товару (артикул, цвет, фасон, размер и пр.). В данном случае Продавец возвращает полную
                стоимость товара, либо производит замену на аналогичный товар надлежащего качества. Возврат товара
                ненадлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а
                также документ, подтверждающий факт и условия покупки указанного товара Перед возвратом/обменом товара
                обязательно проводится экспертиза в авторизированных сервисных центрах бренда производителя. Стоимость
                дополнительной проверки (экспертизы) качества товара оплачивается Продавцом (Изготовителем). Если в
                результате проверки (экспертизы) товара установлено, что недостатки товара отсутствуют или возникли
                после передачи товара Клиенту вследствие нарушения им установленных правил использования, хранения или
                действий третьих лиц либо непреодолимой силы, потребитель обязан возместить Продавцу (Изготовителю)
                расходы на проведение проверки (экспертизы), а также связанные с ее проведением расходы на
                транспортировку товара. Клиент вправе принять участие в проверке качества и проведении экспертизы товара
                лично или через своего представителя, а также провести проверку (экспертизу) товара за свой счет. При
                замене товара (комплектующего изделия) гарантийный срок исчисляется заново со дня передачи его Клиенту,
                если иное не предусмотрено договором. Срок экспертизы в течении 10 дней. Замена товара производится
                после проведения экспертизы.</p>
			<p><b>2. Обмен и возврат товара надлежащего качества</b><br><br>Возврат по просьбе клиента - это возврат
                овара, который удовлетворяет качеству, соответствует заявленным характеристикам товара, но может быть
                возвращен по субъективным причинам (например: не понравился цвет, форма, габариты, фасон, расцветка,
                размер или комплектация). При возврате товар должен быть надлежащего качества, т. е. иметь товарный вид,
                потребительские свойства, ярлыки. К возврату принимается товар надлежащего качества в той упаковке, в
                которой Клиент получил его при доставке. К возврату не принимается товар, бывший в употреблении. В
                данном случае мы возвращаем только полную стоимость товара.</p>
			<p><b>3. Возврат продовольственных товаров</b><br><br>Покупатель может вернуть продовольственный товар
                только НЕНАДЛЕЖАЩЕГО качества. Товар ненадлежащего качества это – товар, непригодный для использования
                по назначению, брак, товар с недостатком (недостаток – это нарушение обязательных требований к товару)
                или не соответствующий описанию на сайте, с истекшим сроком годности, товар доставленный клиенту с
                нарушенной упаковкой. Продовольственный товар НАДЛЕЖАЩЕГО качества НЕ ПОДЛЕЖИТ возврату или обмену.</p>
			<p><b>4. Возврат товара осуществляется на складе Продавца</b><br><br>Самостоятельный возврат на складе
                компании Офис Эксперт в будние дни с понедельника по пятницу с 15.00 до 17.00 по адресу: Турксибский
                район, мкр. Кайрат, 282.</p>
			<p><b>5. Возврат денежных средств</b><br><br>При отказе Покупателя от Товара НАДЛЕЖАЩЕГО качества Продавец
                должен возвратить ему денежную сумму, уплаченную Покупателем, за исключением расходов Продавца на
                доставку. При отказе Покупателя от товара НЕНАДЛЕЖАЩЕГО качества, услуги за доставку Товара также
                возвращаются Продавцом.<br><br>В зависимости от формы оплаты возвращаемого Товара и правовой принадлежности
                Покупателя (физическое или юридическое лицо), существуют различия в процедуре возврата денежных средств
                (см. табл. ниже).</p>
		</div>
	</div>
{% endblock %}
{% block scripts %}{% endblock %}