{% extends 'base.html' %}
{% block content %}
    <h1>Стоимость доставки</h1>
    {% if request.user.is_staff %}
        <a href="{% url 'webapp:delivery_cost_add' %}" class="btn ml-5 my-3 hiddenbutton" style="background-color: #83B734; color: white">
            + Добавить новую стоимость доставки</a>
    {% endif %}
    <hr/>
    {%  for deliverycost in deliverycost_list %}
      <div class="row">
        <div class="col-8">
            <h5 class="news-title">Стоимость доставка {{ deliverycost.cost }}</h5>
            <p class="news-text" style=>Бесплатная доставка от {{ deliverycost.free_from }}</p>
            <p class="news-text" style=>Цена установлена {{ deliverycost.created_at|date:'d.m.Y H:i:s'}}</p>
        </div>
      </div>
    {% endfor %}
{% endblock %}



