{% extends 'base.html' %}
{% load static %}
{% load is_favorite %}
{% load review %}
{% block title %}{{ product.name }}{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="product-content">
            <div class="row">
                <div class="col-12 col-md-5 mt-5">
                    {#                    {% for product in same_products.all %}#}
                    {% if product.images %}
                        <a href="{{ product.images.first.image.url }}" data-fancybox="gallery"
                           data-caption="Caption #1">
                    {% else %}
                        {% load static %}<a href="{% static "images/no_photo.jpg" %}" data-fancybox="gallery"
                                            data-caption="Caption #1">
                    {% endif %}
                    <div class="photo-back">
                        {% if product.images %}
                            <img src="{{ product.images.first.image.url }}" class="card-img-top"
                                 alt="{{ product.name }}">
                        {% else %}
                            <img src="{% static 'default_image.png' %}" class="img-fluid" alt="No photo">
                        {% endif %}
                    </div>
                    </a>
                    <div class="lil-imgs mt-4 d-none d-sm-flex">
                        {% for prod in same_products %}
                            {% for image in prod.images.all %}
                                {% if image.image.url != product.images.first.image.url %}
                                    <a href="{{ image.image.url }}" data-fancybox="gallery" data-caption="Caption #1">
                                        <div class="photo-back-little">
                                            <img src="{{ image.image.url }}" class="card-img-top" alt="...">
                                        </div>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        {#                    {% endfor %}#}
                    </div>
                </div>
                <div class="col-12 col-md-7 mt-5">
                    <div class="product-info d-flex flex-column">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="{% url 'webapp:index' %}">Главная</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'webapp:products_category' product.category.pk %}">
                                    {{ product.category }}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                            </ol>
                        </nav>
                        <div class="name-price mt-4 d-flex">
                            <div class="name-price-2">
                                <h3>{{ product.name }}</h3>
                                {% if product.discount %}
                                    <p class="product-price">{{ price_with_discount }} сом</p>
                                    <p class="price-without-discount">{{ product.price }} сом</p>
                                {% else %}
                                    {% if request.user.profile.type == 'client' %}
                                        <p class="product-price">{{ product.price }} сом</p>
                                        {% elif request.user.profile.type == 'trader' %}
                                        <p class="product-price">{{ product.trade_price }} сом</p>
                                        {% elif request.user.profile.type == 'dealer' %}
                                        <p class="product-price">{{ product.dealer_price }} сом</p>
                                        {% endif %}
                                {% endif %}
                            </div>
                            <div class="name-price-share d-block d-sm-none">
                                <button class="social-icons"></button>
                            </div>
                        </div>
                        <p class="product-description">
                            {{ product.description }}
                        </p>
                        <div class="qty-add-cart d-flex mt-4 mb-0 mb-sm-3 justify-content-between">
                            <div class="qty-add-cart-left d-flex mb-0 mb-3">
                                <div class="input-number">
                                    <div class="input-number__minus">-</div>
                                    {#                                    <input class="input-number__input" type="text" pattern="^[0-9]+$" id="gty-{{ product.pk }}"#}
                                    {#                                               value="{{ product.qty }}">#}
                                    <input class="input-number__input" type="text" pattern="^[0-9]+$" value="1"
                                           id="gty-{{ product.pk }}">
                                    <div class="input-number__plus">+</div>
{#                                    <div class="input-number__plus">#}
                                        {#                                        <a href="{% url "webapp:cartadditem" %}?pk={{ item.product.pk }}" id="cart-add-{{ product.pk }}"#}
                                        {#                               data-product-pk="{{ product.pk }}"#}
                                        {#                               class="cartadd">+</a>#}
                                        {#                                            <a href="{% url 'webapp:cart_change' %}?pk={{ item.product.pk }}&action=add&next={% url 'webapp:cart' %}">+</a>#}
{#                                    </div>#}
                                </div>
                                {#                                <a type="button" href="{% url "webapp:carouseladditem" %}" id="carousel-add-{{ product.pk }}"#}
                                {#                               data-product-pk="{{ product.pk }}"#}
                                {#                               class="to-cart btn btn-success mt-0 ml-3 w-75 {% if product.carousel_product.all %}d-none{% endif %}">Добавить в корзину</a>#}
                                <button type="button" class="to-cart btn btn-success mt-0 ml-3 w-75"
                                        href="{% url "webapp:cartadditem" %}"
                                        data-product-pk="{{ product.pk }}" id="cart-add-{{ product.pk }}">Добавить в
                                    корзину
                                </button>
                            </div>
                            <div class="d-flex align-items-center mr-4 ml-4 mb-4">
                                {% if request.user.is_authenticated %}
                                    {% with favorite=product|is_favorite:request.user %}
                                        <button href="{% url 'webapp:add_to_favorites' %}"
                                                class="promo-btn-in-product promo-button-favorite2 mr-3 favorite-add {% if favorite %}d-none{% endif %}"
                                                data-product-pk="{{ product.pk }}"
                                                id="add-to-favorites-{{ product.pk }}"></button>
                                        <button href="{% url "webapp:delete_from_favorites" %}"
                                                id="delete-from-favorites-{{ product.pk }}" class="red2 mr-3 favorite-delete
                 {% if not favorite %}d-none{% endif %}"
                                                data-product-pk="{{ product.pk }}"></button>
                                    {% endwith %}
                                {% endif %}
                                <button class="promo-btn-in-product promo-button-compare2 ml-4 compare-add" href="{% url 'webapp:compare_add' %}"
                                        data-product-pk="{{ product.pk }}">
                                    <p class="d-inline-block d-sm-none">
                                        Сравнение цен
                                    </p>
                                </button>
                            </div>
                        </div>
                        <div>
                            {% if request.user.is_staff %}
                                <div class="row">
                                    <p class="mt-2 mx-3">Кол-во: {{ product.quantity }}</p>
                                    {% csrf_token %}
                                    <div id="favorites-button-{{ product.pk }}" class="mt-2">
                                        <a href="{% url "webapp:carouseladditem" %}" id="carousel-add-{{ product.pk }}"
                                           data-product-pk="{{ product.pk }}"
                                           class="btn btn-success carouseladd {% if product.carousel_product.all %}d-none{% endif %}">В Карусель</a>
                                        <a href="{% url "webapp:carouseldeleteitem" %}" id="carousel-delete-{{ product.pk }}"
                                           data-product-pk="{{ product.pk }}"
                                           class="btn btn-danger carouseldelete {% if not product.carousel_product.all %}d-none{% endif %}">Из Карусели</a>
                                        {#                    </div>#}
                                        {#                                    <div id="favorites-button" class="mt-2">#}
                                        <a href="{% url "webapp:product_in_category_additem" %}" id="product-in-category-add-{{ product.pk }}"
                                           data-product-pk="{{ product.pk }}"
                                           class="btn btn-success product-in-category-add {% if product.product_in_category.all %}d-none{% endif %}">В Рекоммендованое</a>
                                        <a href="{% url "webapp:product_in_category_deleteitem" %}" id="product-in-category-delete-{{ product.pk }}"
                                           data-product-pk="{{ product.pk }}"
                                           class="btn btn-danger product-in-category-delete {% if not product.product_in_category.all %}d-none{% endif %}">Из Рекоммендованого</a>
                                    </div>

                                    {#                                    <a class='btn update hiddenbutton' href="{% url 'webapp:carousel_add' product.pk %}"#}
                                    {#                                       style="color: blue">Добавить#}
                                    {#                                        в карусель</a>#}
                                    <a class='btn update hiddenbutton'
                                       href="{% url 'webapp:product_update' product.pk %}" style="color: blue">Редактировать</a>
                                    <a class='btn delete hiddenbutton'
                                       href="{% url 'webapp:product_delete' product.pk %}"
                                       style="color: red">Удалить</a>
                                    {% include 'partial/offer_buttons.html' %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="color-category-tags mb-2">
                            <hr/>
                            <div class="color d-flex align-items-center">
                                <p class="mr-3 mb-0">Цвета:</p>
                                {% for prod in same_products.all %}
                                    <a href="{% url 'webapp:product_detail' prod.pk %}?color={{ prod.color }}"
                                       class="btn color-btn"
                                       style="background:{{ prod.color }}; border-color:{% if prod.color == 'white' %}black{% endif %}">
                                        <p class="btns-inside-white"></p>
                                    </a>
                                {% endfor %}
                            </div>
                            <div class="category d-flex">
                                <p>Категория:</p>
                                <p class="category-tag-name">{{ product.category }}</p>
                            </div>
                            <div class="tags d-flex">
                                {% if product.tags.all %}
                                    <p>Tags:</p>
                                    {% for tag in product.tags.all %}
                                        <a href="{% url 'webapp:products_category' product.category.pk %}?tag={{ tag }}"
                                           class="category-tag-name" style="color: black">#{{ tag }}</a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="share d-none d-sm-block">
                                <hr/>
                                <p>Поделиться:</p>
                                <button class="social-icons icon-insta2"></button>
                                <button class="social-icons icon-telegram2"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review_list">
                {% for review in product.reviews.all %}
                    {% if review %}
                        <h4>Отзывы</h4>
                        <div class="row comment">
                            <div class="col-2">
                                {% if review.author.profile.photo %}
                                    <img src="{{ review.author.profile.photo.url }}"
                                         alt="Author photo">
                                {% else %}
                                    <img src="{% static 'default_image.png' %}" alt="No photo">
                                {% endif %}
                                <p>{{ review.author }}. Cоздана: {{ review.date|date:'d.m.Y' }}</p>
                                {% for i in review.grade|times %}
                                    <div class="d-inline-block">
                                        <i class=" fas fa-star" style="position: relative"></i>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-10 review_text">{{ review.text }}</div>
                            <p class="comment-links">
                            </p>
                        </div>
                    {% endif %}
                {% empty %}
                    <p>Отзывов нет</p>
                {% endfor %}
            </div>
            <div class="specification-list">
                {% for spec in product.specifications.all %}
                    <p>{{ spec.name }}: {{ spec.value }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="original-block">
        <div class="container d-flex justify-content-around">
            <div class="original-block-item">
                <div class="original-circle"></div>
                <p class="original-title">100% Оригинал</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat magni vero quis dolore, veritatis
                    cumque similique laudantium ipsam optio non.</p>
            </div>
            <div class="original-block-item d-none d-md-block">
                <div class="original-circle"></div>
                <p class="original-title">Быстрая доставка</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat magni vero quis dolore, veritatis
                    cumque similique laudantium ipsam optio non.</p>
            </div>
            <div class="original-block-item  d-none d-md-block ">
                <div class="original-circle"></div>
                <p class="original-title">Гарантия</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat magni vero quis dolore, veritatis
                    cumque similique laudantium ipsam optio non.</p>
            </div>
        </div>
    </div>
    <div class="recomended-product-block">
        <div class="container">
            <div class="recomend-title d-flex justify-content-between">
                <p>Рекомендуемые товары</p>
                <a href="{% url 'webapp:products_category' product.category.pk %}">
                    <p>Все</p></a>
            </div>
            <div class="row">
                {% for product in products %}
                    <div class="col-6 col-md-3 px-2">
                        <div class="card">
                            <a href="{% url "webapp:product_detail" product.pk %}">
                                <div class="photo-back">
                                    {% if product.images %}
                                        <img src="{{ product.images.first.image.url }}" class="card-img-top" alt="...">
                                    {% endif %}
                                </div>
                            </a>
                            <div class="card-body">
                                <div class="card-text d-flex flex-column align-items-center px-3">
                                    <h5>{{ product }}</h5>
                                    <p>{{ product.category }}</p>
                                    <p class="price">{{ product.price }} c</p>
                                    {% if product.discount %}
                                        <div class="discount-count d-flex align-items-center justify-content-center">{{ product.discount }} %</div>
                                    {% endif %}
                                </div>
                                <div class="position-for-hidden position-relative">
                                    <div class="hidden-part text-center">
                                        {#                                    <p class="card-text">{{ product.description }}</p>#}
                                        <div class="promo-icons d-flex justify-content-center">
                                            {% if request.user.is_authenticated %}
                                                {% with favorite=product|is_favorite:request.user %}
                                                    <button href="{% url 'webapp:add_to_favorites' %}"
                                                            class="promo-button-favorite favorite-add {% if favorite %}d-none{% endif %}"
                                                            data-product-pk="{{ product.pk }}"
                                                            id="add-to-favorites-{{ product.pk }}"></button>
                                                    <button href="{% url "webapp:delete_from_favorites" %}"
                                                            id="delete-from-favorites-{{ product.pk }}"
                                                            class="red favorite-delete {% if not favorite %}d-none{% endif %}"
                                                            data-product-pk="{{ product.pk }}"></button>
                                                {% endwith %}
                                            {% endif %}
                                            {#                                        <button class="promo-button-favorite"></button>#}
                                            <button class="promo-button-compare compare-add" href="{% url 'webapp:compare_add' %}"
                                                    data-product-pk="{{ product.pk }}">

                                            </button>
                                            {#                                        <button class="promo-button-compare"></button>#}
                                            <button class="promo-button-share"></button>
                                        </div>
                                        <button type="button" class="to-cart btn btn-success" href="{% url "webapp:cartadditem" %}"
                                                data-product-pk="{{ product.pk }}" id="cart-add-{{ product.pk }}">В корзину</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src='{% static "js/jquery.fancybox.js" %}'></script>
    <script type="application/javascript" src="{% static "js/product-detail.js" %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.review').rating();
        });
    </script>
    <script type="application/javascript" src="{% static "js/carousel_ajax.js" %}"></script>
    <script type="application/javascript" src="{% static "js/product_in_category.js" %}"></script>
    {#    <script type="application/javascript" src="{% static "js/cart_ajax.js" %}"></script>#}
    {#    <script type="application/javascript" src="{% static "js/compare_ajax.js" %}"></script>#}
    <script>
        function slick() {
            $('.lil-imgs').slick({
                {#centerMode: true,#}
                {#centerPadding: '60px',#}
                {#infinite: true,#}
                slidesToShow: 3,
                slidesToScroll: 1,
                responsive: [
                    {
                        breakpoint: 992,
                        settings: {
                            centerMode: false,
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            infinite: false,
                        }
                    },
                    {
                        breakpoint: 576 ,
                        settings: {
                            arrows: false,
                            centerMode: false,
                            slidesToShow: 2,
                            slidesToScroll: 1,
                            infinite: false,

                        }
                    }
                ]
            });

        }
        $(document).ready(function(){
            slick();
            });
    </script>
{% endblock %}
