{% extends 'base.html' %}
{% block content %}
        <table class="table"  style="line-height: 15px">
            <h3>Товары</h3>
            {#            {% if perms.webapp.add_category %}#}
            <div class="row">
                <a href="{% url 'webapp:product_create' %}" class="btn btn-success  ml-5 my-3 hiddenbutton">Добавить
                    товар</a>
            </div>
            {#            {% endif %}#}
            <thead>
                <p>{% include 'partial/pagination.html' %}</p>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Изображение</th>
                <th scope="col">Название</th>
                <th scope="col">Категория</th>
                <th scope="col">Бренд</th>
                <th scope="col">Цвет</th>
                <th scope="col">Кол-во</th>
                <th class="symbol hiddenbutton" scope="col">Добавить в Карусель</th>
                <th class="symbol hiddenbutton" scope="col">Акции</th>
                <th class="symbol hiddenbutton" scope="col">Редак-ть</th>
                <th class="symbol hiddenbutton" scope="col">Удалить</th>
            </tr>
            </thead>
            {% for product in products %}
                <tbody>
                <tr style="background-color: lavender">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                        {% if product.images %}
                            <img src="{{ product.images.first.image.url }}" alt="..." style="width: 50px; height: 30px">
                        {% else %}
                            {% load static %}
                            <img src="{% static "images/no_photo.jpg" %}" alt="no-photo" style="height: 30px;width: 30px">
                        {% endif %}
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.brand }}</td>
                    <td style="background-color: {{ product.color.color }}">{{ product.color.name }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>
{#                        {% if  not product.carousel_product.all %}#}
                            {% csrf_token %}
                    <div id="favorites-button-{{ announce.pk }}" class="mt-2">
                        <a href="{% url "webapp:carouseladditem" %}" id="carousel-add-{{ product.pk }}"
                               data-product-pk="{{ product.pk }}"
                               class="btn btn-success carouseladd {% if product.carousel_product.all %}d-none{% endif %}">Добавить</a>
                        <a href="{% url "webapp:carouseldeleteitem" %}" id="carousel-delete-{{ product.pk }}"
                               data-product-pk="{{ product.pk }}"
                               class="btn btn-danger carouseldelete {% if not product.carousel_product.all %}d-none{% endif %}">Удалить</a>
                    </div>
                        </td>
                        <td>{% include 'partial/offer_buttons.html'%}</td>
                        <td class="symbol"><a class='update hiddenbutton'
                                              href="{% url 'webapp:product_update' product.pk %}">&#x270E;</a></td>
                        <td class="symbol"><a class='delete hiddenbutton'
                                              href="{% url 'webapp:product_delete' product.pk %}" style="color: red">&times;</a>
                        </td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
{#    </form>#}
    <p>{% include 'partial/pagination.html' %}</p>
{% endblock %}
{% block scripts %}
    <script type="application/javascript" src="{% static "js/carousel_ajax.js" %}"></script>
    <script type="application/javascript" src="{% static "js/product_in_category.js" %}"></script>
{% endblock %}
