{% extends 'base.html' %}
{% load staticfiles %}
{% load is_favorite %}
{% block title %}Kanctorg{% endblock %}
{% block menu %}
    {#    {% if perms.webapp.product_add %}#}
    {#        <a href="{% url 'webapp:orders' %}" class="login  d-none d-md-flex">Зак</a>#}
    {#    {% endif %}#}
{% endblock %}
{% block content %}
    <div class="category-detail-headline">
        {% if product_category.photo %}
            <img src="{{ product_category.photo.url }}" alt="">
            {% else %}
            <img src="{% static 'kanc.png' %}" alt="">
        {% endif %}
        <h4>{{ product_category }}</h4>
    </div>
    <div class="container">
        <div class="category-block-content d-flex">
            <div class="filter d-lg-block collapse" id="collapseExample1">
                <div class="category-detail-filter">
                    <div class="filter-price mb-5">
                        <p class="filter-header">Фильтр по цене</p>
                        <div id="slider-range"></div>
                        <p class="filter-price-text">
                            <label for="amount">Цена:</label>
                            <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                        </p>
                    </div>
                    <hr/>
                    <div class="filter-color d-flex flex-column mb-5">
                        <p class="filter-header">Фильтр по цвету</p>
                        {% for color in same_color_products %}
                            {% if product_category %}
                            <a href="{% url 'webapp:products_category' product_category.pk %}?color={{ color.0 }}"
                               class="btn btn-light d-flex align-items-center pl-0 category-filter-color-btn">
                                <div class="category-filter-color-circle"
                                     style="background-color:{{ color.0 }}; border-color: {% if color.0 == 'white' %}black{% endif %}"></div>
                                {% for key, value in colors %}
                                    {% if color.0 in key %}{{ value }}{% endif %}
                                {% endfor %}
                                <div class="category-filter-color-number">{{ color.1 }}</div>
                            </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <hr/>
                    <div class="filter-brand mb-5">
                        <p class="filter-header">Фильтр по бренду</p>
                        <div class="filter-brand-imgs">
                            {% for brand in one_category_brands %}
                                <a href="{% url 'webapp:products_category' product_category.pk %}?brand={{ brand }}"
                                   class="btn btn-light"><img class='filter-brand-img' src="{{ brand.photo.url }}"
                                                              alt=""></a>
                            {% endfor %}
                        </div>
                    </div>
                    <hr/>
                    <a href="{% url 'webapp:products_category' product_category.pk %}?category={{ product_category.pk }}">
                        <button type="button" class="to-cart btn btn-success mb-5">Сброс фильтров</button>
                    </a>
                    {% if product_in_category %}
                        <div class="bestseller-in-filter">
                            <div class="bestseller p-5 mb-0">
                                <p class="bestseller-text-background-in-category-page">Bestseller</p>
                                <div class="bestseller-content mt-0">
                                    <h3>{{ product_in_category.product }}</h3>
                                    <p class="bestseller-text pr-0 mt-0">{{ product_in_category.product.description }}</p>
                                    {% if product_in_category.product.images %}
                                        <img class="bestseller-img mb-5"
                                             src="{{ product_in_category.product.images.first.image.url }}" alt="Кресло"
                                             style="">
                                    {% endif %}
                                    <p class="bestseller-price ml-0">{{ product_in_category.product.price }} сом</p>
                                    {#                                <button type="button" class="btn bestseller-button mr-0">в корзину</button>#}
                                    <button type="button" class="to-cart btn btn-success cartadd"
                                            href="{% url "webapp:cartadditem" %}"
                                            data-product-pk="{{ product_in_category.product.pk }}"
                                            id="cart-add-{{ product_in_category.product.pk }}">В
                                        корзину
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="content-products">
                    <div class="bread"></div>
                    <div class="hidden-filter-button"></div>
                    <div class="product-list"></div>
                </div>
            </div>
            <div class="content-without-filter w-100 ml-3">
                <div class="bread-pagination-sort d-flex align-items-baseline">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="{% url 'webapp:index' %}">Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ product_category }}</li>
                        </ol>
                    </nav>
                    <div class="pagination ml-auto d-none d-lg-block">
                        <p>Страница: 9 / 12 / 24</p>
                    </div>
                    <div class="sort-incategory-dropdown dropdown d-none d-lg-block">
                        <button class="btn btn-light dropdown-toggle ml-5" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Сортировка
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">По убыванию</a>
                            <a class="dropdown-item" href="#">По возрастанию</a>
                            <a class="dropdown-item" href="#">еще как-то</a>
                        </div>
                    </div>
                </div>
                <div class="button-and-sort d-flex align-items-center d-block d-lg-none my-3">
                    <button class="filter-btn navbar-toggler navbar-light filter-slider-appereance-btn btn"
                            type="button">
                        <span class="navbar-toggler-icon mr-2"></span>
                        <p>Фильтр</p>
                    </button>

                    <button type="button" class="btn sort-btn"></button>
                </div>
                <div class="products-in-category">
                    <div class="row mx-0">
                        {% for product in products %}
                            <div class="col-6 col-md-4 px-2 product-pk-element-{{ product.pk }}">
                                <a href="{% url "webapp:product_detail" product.pk %}">
                                    <div class="card">
                                        <div class="photo-back">
                                            {% if product.images %}
                                                <img src="{{ product.images.first.image.url }}" class="card-img-top"
                                                     alt="...">
                                            {% else %}
                                                {% load static %}
                                                <img src="{% static "images/no_photo.jpg" %}" class="card-img-top"
                                                     alt="no-photo">
                                            {% endif %}
                                        </div>
                                        <div class="card-body">
                                            <div class="card-text d-flex flex-column align-items-center px-3">
                                                <a href="{% url "webapp:product_detail" product.pk %}">
                                                    <h5 class="products" id="{{ product.pk }}">{{ product }}</h5></a>
                                                <p>{{ product.category }}</p>
                                                <p class="product-price" id="{{ product.price }}">{{ product.price }}
                                                    сом</p>
                                                {% if product.discount %}
                                                    <div class="discount-count d-flex align-items-center justify-content-center">
                                                        {{ product.discount }}%
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="position-for-hidden position-relative">
                                                <div class="hidden-part text-center">
                                                    <p class="card-text">{{ product.description }}</p>
                                                    <div class="promo-icons d-flex justify-content-center">
                                                        {% if request.user.is_authenticated %}
                                                            {% with favorite=product|is_favorite:request.user %}
                                                                <button href="{% url 'webapp:add_to_favorites' %}"
                                                                        class="promo-button-favorite favorite-add {% if favorite %}d-none{% endif %}"
                                                                        data-product-pk="{{ product.pk }}"
                                                                        id="add-to-favorites-{{ product.pk }}"></button>
                                                                <button href="{% url "webapp:delete_from_favorites" %}"
                                                                        id="delete-from-favorites-{{ product.pk }}"
                                                                        class="red favorite-delete {% if not favorite %}d-none{% endif %}"
                                                                        data-product-pk="{{ product.pk }}"></button>
                                                            {% endwith %}
                                                        {% endif %}
                                                        <button class="promo-button-compare compare-add"
                                                                href="{% url 'webapp:compare_add' %}"
                                                                data-product-pk="{{ product.pk }}">

                                                        </button>
                                                        <button class="promo-button-share"></button>
                                                    </div>
                                                    <button type="button" class="to-cart btn btn-success cartadd"
                                                            href="{% url "webapp:cartadditem" %}"
                                                            data-product-pk="{{ product.pk }}"
                                                            id="cart-add-{{ product.pk }}">В
                                                        корзину
                                                    </button>
                                                    {#                                            <button type="button" class="to-cart btn btn-success">В корзину</button>#}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if product_in_category %}
        <div class="bestseller mb-0 mt-3 pb-3 d-lg-none">
            <p class="bestseller-text-background">Bestseller</p>
            {% if product_in_category.product.images %}
                <img class="bestseller-img" src=src="{{ product_in_category.product.images.first.image.url }}"
                     alt="Кресло" style="">
            {% endif %}
            <div class="bestseller-content">
                <h3>{{ product_in_category.product }}</h3>
                <p class="bestseller-text">{{ product_in_category.product.description }}</p>
                <p class="bestseller-price">{{ product_in_category.product.price }} сом</p>
                <button type="button" class="btn bestseller-button mr-4" href="{% url "webapp:cartadditem" %}"
                        data-product-pk="{{ product_in_category.product.pk }}"
                        id="cart-add-{{ product_in_category.product.pk }}">В корзину
                </button>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block scripts %}
    <script type="application/javascript" src="{% static "js/products.js" %}"></script>
    {#    <script type="application/javascript" src="{% static "js/cart_ajax.js" %}"></script>#}
{% endblock %}