{{ specification_formset.management_form }}
{% for error in formset.non_form_errors %}
    <p class="text-danger">{{ error }}</p>
{% endfor %}
<div id="specs_forms">
    {% for form in specification_formset %}
        <div class="form-row justify-content-between" id="specs-{{ forloop.counter0 }}">
            <div class="form-group col-md-5">
                {% include 'partial/form_field.html' with field=form.name %}
            </div>
            <div class="form-group col-md-5">
                {% include 'partial/form_field.html' with field=form.value %}
            </div>
            <div class="form-group col-md-2 text-center">
                <button type="button" class="btn btn-danger mt-md-4"
                        data-id="specs-{{ forloop.counter0 }}">x
                </button>
            </div>
            <div class="d-none">
                {{ form.id }}
                {% if specification_formset.can_delete %}{{ form.DELETE }}{% endif %}
            </div>
        </div>
    {% endfor %}
</div>
<div class="form-group text-center">
    <button type="button" id="add_specs_form" class="btn" style="background-color: #83B734; color: white">Ещё характеристика
    </button>
</div>
