{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1 class="text-center">Создать</h1>
    <div class="container" style="width: 800px">
        <form method="post" id="productForm" enctype="multipart/form-data">
            {#        <form method="post" id="productForm" data-subcategories-url="{% url 'webapp:ajax_load_subcategories' %}" enctype="multipart/form-data">#}
            {% include "partial/form.html" %}
            {% include 'products/product_images_formset.html' %}
            {% include 'products/product_spec_formset.html' %}
            <p class="text-center"><input type="submit" value="Создать" class="btn"
                                          style="background-color: #83B734; color: white"></p>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#productForm #id_category").change(function () {
            let url = $("#productForm").attr("data-subcategories-url");
            let categoryId = $(this).val();
            $.ajax({
                url: '{% url "webapp:ajax_load_subcategories" %}',
                data: {
                    'category': categoryId
                },
                success: function (data) {
                    var subcategories = data['subcategories'];
                    var id_list = [];
                    $('#productForm #id_subcategory').find('option').remove();
                    for (var i in subcategories) {
                        let option = new Option(subcategories[i]['sub_name'], subcategories[i]['id']);
                        $('#productForm #id_subcategory').append(option);
                    }
                }
            });
        });
    </script>
    <script type="application/javascript" src="{% static "js/product_images_formset.js" %}"></script>
    <script type="application/javascript" src="{% static "js/product_spec_formset.js" %}"></script>
{% endblock %}
